version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: healthcare_api
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ../.env
    depends_on:
      - db
    volumes:
      - ..:/app
    command: ["./wait-for-db.sh", "flask", "run", "--host=0.0.0.0"]

  db:
    image: mysql:8.0
    container_name: healthcare_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: healthcare
      MYSQL_USER: healthcare_user
      MYSQL_PASSWORD: healthcare_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: